@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
}
.flex-box {
  display: flex;

  font-weight: bold;
  justify-content: space-between;
  align-items: center;
}
#home-header {
  background: url(../bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#header {
  padding: 1%;
  font-size: 1.2rem;
}
#navigation {
  flex-basis: 25%;
}
#search {
  background-color: rgba(255, 255, 255, 0.5);
  justify-content: start;
  height: 35px;
  width: 20%;
  padding: 0 1%;
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.4);
  margin-left: -15%;
}
#search-icon {
  margin-right: 2%;
}
#header a {
  color: black;
  text-decoration: none;
}
#open-cart {
  height: 40px;
  width: 40px;
}
#login-cart {
  flex-basis: 10%;
}
#title {
  margin: 12.2% 0 10% 12%;
}
#title h1 {
  font-size: 3.5rem;
}
#title h4 {
  font-size: 1.2rem;
  margin-left: 5px;
  margin-top: -15px;
}
#features {
  justify-content: flex-end;
  padding-right: 2%;
  column-gap: 3%;
  font-size: 1rem;
}
