@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");

@font-face {
    font-family: mon-bold;
    src: url(/shoppero-frontend/assets/fonts/static/Montserrat-Bold.ttf);
}

body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
}

.flex-box {
    display: flex;
    font-weight: bold;
    align-items: center;
}

.container {
    position: relative;
}

#home-header {
    height: 100vh;
    background: url(../assets/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#header {
    padding: 1%;
    font-size: 1.2rem;
}

#navigation {
    width: 33%;
    gap: 7%;
}

#search-container {
    width: 34%;
}



#search-icon {
    margin-right: 2%;
}

#search input {
    border: none;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    height: 35px;
    padding: 0 1%;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.4);
    background-color: rgba(255, 255, 255, 0.5);
    background-image: url("../assets/search-icon.png");
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 30px;
}

#header a {
    color: black;
    text-decoration: none;
}

#open-cart {
    height: 35px;
    width: 35px;
    margin-top: -2.5%;
}

#login-cart {
    width: 33%;
    justify-content: flex-end;
    gap: 5%;
}


#footer {
    background-color: #e96e19;
    height: 400px;
    align-items: center;
    text-align: center;
}

.shop-name h1 {
    font-size: 3.5rem;
}

.shop-name {
    width: 50%;
}

.footer-right {
    color: white;
    padding: 0 30px 0 50px;
    width: 30%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.footer-left {
    color: white;
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-right: 3px solid white;
    row-gap: 30px;
}

.categories {
    display: flex;
    justify-content: space-around;
    padding: 70px 0;
    height: 30vh;
}

.men_category,
.women_category {
    border: 2px solid black;
    border-radius: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 10px 10px 0px 10px;
    width: 35%;
    height: 50%;
}
.image-wrapper {
    margin-right: 20px;
}

.image-wrapper img {
    display: block;
    position: relative;
    top: -60px;

}

.woman {
    display: block;
    position: relative;
    top: -60px;
    left: 20px;
}

.image-wrapper_women img {
    display: block;
    position: relative;
    top: 20px;
    left: 300px;
}

.text-wrapper h2 {
    margin: 0 0 0 10px;
    font-size: 1.8rem;
    font-weight: bold;
    font: mon-bold;
}
.main {
    padding: 0 20px;
    display: flex;
}


.filter_bar {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.filter_group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

select {
    width: 100%;
}

.item-card {
    background-color: white;
    height: 350px;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    box-shadow: 3px 3px 40px -21px rgba(27, 12, 12, 0.8);
    margin: 10px;
}

.item-card h3 {
    text-align: center;
}

.item-card .flex-box {
    justify-content: space-between;
    width: 100%;
}

.item-card .flex-box h3 {
    color: #e96e19;
}

.products_container {
    display: flex;
    flex-wrap: wrap;
}
@media (max-width: 700px){
 
      #header {
        font-size: 0.8rem;
      }
     .categories {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 70px 0;
    height: 30vh;
    text-align: center;
}
.image-wrapper,.woman{
    display: none;
}
.filter_group{
    display: none;
}



}